<!DOCTYPE html> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<body> 
<noscript>
 Для работы меню включите скрипты! <br>
 please turn on javascripts!
</noscript>
<style>
@import url('bootstrap.min.css');

a { outline: none; }
ul li a[aria-controls="profile"]:hover{ color:red;}
.ot2 {margin: 2px 1px;}
i {color: red;}
#id_but3 {float: right;}
</style>

<script src='jquery.min.js'></script>
<script src='bootstrap.min.js'></script>
<script src='vue.js'></script>
<script src='tem_loc.js'></script>
<script>
 if(window['g_api']!=undefined)console.log('g_api in use!');
g_api='error';//global 
g_page='tem1';//global
</script> 

  <!-- Навигация -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#tem" aria-controls="tem" role="tab" data-toggle="tab">главная</a></li>
    <li><a href="#tem1" aria-controls="tem1" role="tab" data-toggle="tab" title="" onclick="load_g_api_from_Loc();;">списки</a></li>
    <li><a href="#tem2" aria-controls="tem2" role="tab" data-toggle="tab" title="" onclick="load_card();">карточки</a></li>
  </ul>
 
<!-- Содержимое вкладок -->
<div class="tab-content" >

<div role="tabpanel" class="tab-pane fade in active" id="tem" align="center">
   <div class="panel panel-primary">
    <div class="panel-heading"><h3 >ТАБЛИЦА ПО ТЕМАМ (tem)</h3></div>
   </div>

<p>
Проект для изучения английского языка по ассоциациям. Открытый. Бесплатный.<br>
Использование в комерческих целях запрещено. Помощь в развитии сайта и БД приветствуется.<br>
Пишите в телеграм чат EnglSpaceChat
</p>
<hr>
<textarea id='id_text1' cols="80" rows="20">
слова по 42 темам из полиглота, бывают повторения.
с транскрипцией us/uk, переводом и мини ассоциацей, сами придумывайте из нее мини рассказ
и выделяйте где звуки, а где перевод, ФА могут быть по звучанию, по написанию или оба
Это минимальный словарный запас, что бы хоть что то понимать!
Эта версия может работать локально без интернета.

tem1
 Animals - Животные 52 слов  
 Buildings, Organizations - Строения, организации 40 слов 
 Car - Автомобиль 24 слов  
 City, Streets, Transportation - Город, улицы, транспорт 75 слов 
 Clothing 1 - Одежда1 43 слов  
 Clothing 2 - Одежда2 43 слов  
  
tem2
 Colors - Цвета 26 слов  
 Education 1 - Образование1 49 слов  
 Education 2 - Образование2 49 слов  
 Entertainment, Art, Music - Развлечения, искусство, музыка 71 слов  
 Family - Семья 43 слов  
 Feelings, Senses - Чувства, ощущения 29 слов  
  
tem3
 Food, Restaurants, Kitchen 1 - Еда, рестораны, кухня1 69 слов  
 Food, Restaurants, Kitchen 2 - Еда, рестораны, кухня2 76 слов  
 Geography: Countries, Cities... - География: страны, города... 49 слов  
 Greetings, Requests, Welcomes, Farewells - Приветствия, обращения, прощания 73 слов  
 Health, Medicine, Hygiene - Здоровье, медицина, гигиена 67 слов  
 House, Furniture, and Household Objects - Дом, мебель, домашние предметы 71 слов  

tem4  
 Human Body Parts - Части тела 40 слов  
 Human Characteristics 1 - Человеческие качества1 42 слов  
 Human Characteristics 2 - Человеческие качества2 44 слов  
 Life, Age - Жизнь, возраст 15 слов  
 Materials, Substances, Objects, Tools - Материалы, вещества, предметы 42 слов  
 Measures, Measurements - Измерения 32 слов  
  
tem5  
 Money, Shopping - Деньги, покупки 42 слов  
 Movement, Directions - Движение, направления 44 слов  
 Nature - Природа 31 слов  
 Numbers - Числа 31 слов  
 People: Relatives, Friends, Enemies... - Люди: родственники, друзья, враги... 42 слов  
 Plants - Растения 36 слов  
  
tem6  
 Profession - Профессия 48 слов  
 Pronouns, Conjunctions, Prepositions - Местоимения, союзы, предлоги 65 слов  
 Religion, Politics, Military, Science - Религия, политика, армия, наука 62 слов  
 Sports, Games, Hobbies - Спорт, игры, хобби 34 слов  
 Time 1 - Время 1 53 слов  
 Time 2 - Время 2 22 слов 
 

tem7  
 Tools - Инструменты 17 слов 
 Various Adjectives - Различные прилагательные 24 слов  
 Various Adverbs 1 - Различные наречия1 48 слов  
 Various Adverbs 2 - Различные наречия2 50 слов  
 Various Verbs 1 - Различные глаголы1 69 слов  
 Various Verbs 2 - Различные глаголы2 66 слов  
 Weather - Погода 20 слов  
 Work, Business, Office - Работа, бизнес, офис 44 слов  


</textarea>
<hr>
</div>


<div role="tabpanel" class="tab-pane fade" id="tem1" >
<br>
  <div class="panel-group">

   <div class="panel panel-primary">
    <div class="panel-body">
      <button type="button" class="btn btn-primary btn-md ot2" onclick="load_g_api_from_Loc(1);">1</button>
      <button type="button" class="btn btn-primary btn-md ot2" onclick="load_g_api_from_Loc(2);">2</button>
      <button type="button" class="btn btn-primary btn-md ot2" onclick="load_g_api_from_Loc(3);">3</button>
      <button type="button" class="btn btn-primary btn-md ot2" onclick="load_g_api_from_Loc(4);">4</button>
      <button type="button" class="btn btn-primary btn-md ot2" onclick="load_g_api_from_Loc(5);">5</button>
      <button type="button" class="btn btn-primary btn-md ot2" onclick="load_g_api_from_Loc(6);">6</button>
      <button type="button" class="btn btn-primary btn-md ot2" onclick="load_g_api_from_Loc(7);">7</button>
      ||
      <button type="button" class="btn btn-success btn-md ot2" onclick="load_All();">Загрузить полный список из лок БД</button>
      <button type="button" class="btn btn-danger btn-md ot2" onclick="save_g_api_to_Loc();">Запомнить юзер список в LocalStore</button>
      <button type="button" class="btn btn-danger btn-md ot2" onclick="del_Loc();">Очистить LocalStore</button>

      
    </div>
   </div> 

   <div class="panel panel-success">
<div class="panel-heading">Текущий список=<span id="id_list0">?</span></div>

    <div class="panel-body">
     <div id="app" >
      <input v-model="newTodo" v-on:keyup.enter="addTodo" style="width:500px">
      <p></p>
      <ul>
        <li v-for="todo in todos" class="alert alert-info" role="alert">
          <span>{{ todo.text }}</span>
          <button type="button" class="btn btn-danger btn-xs" v-on:click="removeTodo($index)">[X]</button>
        </li>
      </ul>
     </div>
    </div>
   
 </div>
 
 </div>
</div>
<script>
vu=new Vue({
  el: '#app',
  data: {
    newTodo: '',
    todos: [ { text: 'номер| слово - перевод, крестик удалить' }]
  },

  methods: {
    addTodo: function () {
      var text = this.newTodo.trim()
      if (text) {
        this.todos.push({ text: text })
        this.newTodo = ''
        //save_vu_to_Loc()
      }
    },
    removeTodo: function (index) {var s='',ms;
         s=''+this.todos[index].text; 
         console.log('del card='+s);
         delete(g_api[s+'[']);//удаляем карточку если есть
     this.todos.splice(index, 1);
     //save_vu_to_Loc()
    }

  }
})

</script>


<div role="tabpanel" class="tab-pane fade" id="tem2">
  <div class="panel-group">

   <div class="panel panel-primary">
    <div class="panel-heading"><h5 id="id_tek_word">Загружаем карточки..</h5></div>
    <div class="panel-body">
      <button id="id_but1" type="button" class="btn btn-primary btn-md ot2" onclick="load_card();">HOME</button>
       ||
      <button id="id_but2" type="button" class="btn btn-success btn-md ot2" onclick="prev_word();">PREV</button>
      ||
      <button type="button" class="btn btn-primary btn-md ot2" onclick="next_word(20);">NEXT-20</button>
      |||| 
      <button type="button" class="btn btn-info btn-md ot2">
      Текущий список=<span id="id_list">?</span> Текущий номер слова=<span id="id_word">?</span> 
      </button>

      <button id="id_but3" type="button" class="btn btn-success btn-md ot2" onclick="next_word(1);">NEXT</button>
    </div>
   </div> 

   <div class="panel panel-success">
    <div  class="panel-body">
     <h3><b id="id_p0">слово - перевод</b> <span id="id_p1" class="label label-primary">транскрипция 3 шт</span></h3>
    </div>
   </div>

   <div class="panel panel-primary">
    <div  class="panel-body">
     <div class="row">
       <div class="col-sm-6 col-md-4">
        <img id="id_p3" src="" width="100%" >
       </div>
       <div class="col-sm-6 col-md-8" >
        <h3 id="id_p2" >ассоциация</h3>
<hr>
        <h4 id="id_p4" >dop</h4>
       </div>
      </div>  
     </div>
   </div>   
 
   <div class="panel panel-primary">
    <div id="id_p5" class="panel-body">
доп асоц
    </div>
   </div>    
 
   <div class="panel panel-primary">
    <div id="id_p6" class="panel-body">
примеры
    </div>
   </div>    

 </div>
</div>
   
 </div>
</div>
</div>
</div>


</body>
